@font-face {
  font-family: "Lora", sans-serif;
  src: url("../font/static/Lora-Regular.ttf") format("font/ttf"),
    url("../font/static/Lora-Bold.ttf") format("font/ttf");
}

:root {
  --primary: #3e3e3e;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--primary);
}
img,
svg,
video {
  max-width: 100%;
  width: 100%;
  height: auto;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-size: 1.6rem;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: linear-gradient(
    180deg,
    #fbdb9e 0%,
    rgba(255, 255, 255, 0.9) 53.93%,
    #fbdb9e 100%
  );
  min-height: 100dvh;
}
* {
  font-family: "Lora";
  font-weight: 400;
  color: var(--primary);
}
h1,
h2,
h3 {
  font-family: "Lora";
  font-weight: 700;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 4px;
  z-index: 1;
  position: relative;
}

.container {
  margin: 120px 32px;
  text-align: center;
}

.container h2,
.container h3 {
  margin: 64px 0;
}

.containerNav {
  display: flex;
  align-items: center;
  gap: 28px;
}
.containerNav .btnNav {
  font-size: 30px;
}
nav {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 28px;
  padding: 40px 0;
  font: normal 1.5em "Lora";
  transition: transform 350ms ease-in-out, visibility 350ms ease-in-out;
  position: absolute;
  top: 0;
  background: #fbdb9e;
  width: 100%;
  height: 100vh;
  z-index: -1;
  transform: translateX(-100%);
}

nav.active {
  visibility: visible;
  transform: translateX(0%);
}

nav ul li {
  transition: border-bottom 350ms ease-in-out;
  padding-bottom: 5px;
}

nav ul li:hover {
  border-bottom: 1px solid var(--primary);
}

.reseaux {
  display: flex;
  gap: 24px;
}

.reseaux i,
.contactMe,
.tagBtn {
  transition: transform 350ms ease-in-out;
}

.reseaux i:hover,
.contactMe:hover,
.tagBtn:hover {
  transform: scale(1.1);
}

.icon-svg {
  font-size: 2em;
}

.btnNav {
  width: 32px;
  height: 10px;
  cursor: pointer;
}

.btnNav span {
  width: 100%;
  height: 4px;
  background-color: var(--primary);
  border-radius: 12px;
  display: block;
  transition: background-color 0.5s ease-in-out;
}

.btnNav span::before,
.btnNav span::after {
  content: "";
  width: 100%;
  background-color: var(--primary);
  display: block;
  transition: all 0.5s ease-in-out;
  border-radius: 12px;
  height: 4px;
}

.btnNav span::before {
  transform: translateY(-10px);
}

.btnNav span::after {
  transform: translateY(10px);
  margin-top: -4px;
}

.btnNav.active span {
  background-color: transparent;
}

.btnNav.active span::before {
  transform: rotateZ(45deg) translateY(0);
}

.btnNav.active span::after {
  transform: rotateZ(-45deg) translateY(0);
}

figure {
  border-radius: 16px;
  border: 2px solid #3e3e3e;
  background: rgba(255, 255, 255, 0.35);
  overflow: hidden;
  margin: 120px 16px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

figure .avatar {
  display: block;
  width: 150px;
  height: 150px;
  margin: 32px auto 0;
  object-fit: cover;
  border-radius: 50%;
}

figure .content {
  padding: 0 16px 32px;
  text-align: center;
}

figure .content h2 {
  font-size: 1.6em;
  padding: 32px 0;
}

figure .content p {
  line-height: 1.5;
}

figure .content .believemy {
  color: #6231df;
  font-weight: bold;
}

.aproposdemoi {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.contactMe {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 151.21px;
  height: 29px;
  border-radius: 16px;
  border: 1px solid #3e3e3e;
  background: #fbdb9e;
  margin-top: 32px;
  font-weight: 700;
}

.mesprojets {
  margin-bottom: 120px;
}

.mesprojets {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 55px;
  padding: 0 16px;
}

.cardSlide {
  width: 300px;
  height: 500px;
  border-radius: 16px;
  border: 2px solid var(--primary);
  background: rgba(241, 241, 241, 0.35);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.cardSlide h2 {
  text-align: center;
  padding: 25px 0 25px 0;
  font-size: 2em;
}

.swiper,
.project {
  width: 240px;
  height: 320px;
}

.swiper-slide,
.project {
  border-radius: 16px;
  border: 2px solid #3e3e3e;
  padding: 35px 16px;
  background: #fbdb9e;
}

.swiper-slide .headerTitle {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: start;
}

.swiper-slide .headerTitle h3,
.project .headerTitle h3 {
  font-size: 1.5em;
}

.swiper-slide .headerTitle .icon-believemy {
  width: 69px;
  height: 69px;
  margin-left: -26px;
}

.swiper-slide .contentMiddle,
.project .contentMiddle {
  margin-top: 35px;
}

.swiper-slide .contentMiddle .tag,
.project .contentMiddle .tag {
  display: block;
  width: 74px;
  height: 21px;
  border-radius: 16px;
  border: 1px solid var(--primary);
  background: transparent;
  margin-top: 35px;
  font-weight: 700;
}
.swiper-slide .contentMiddle .tagBtn,
.project .contentMiddle .tagBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 165px;
  padding: 16px 32px;
}

.swiper-button-next {
  right: 37px;
  top: 360px;
  color: var(--primary);
}
.swiper-button-prev {
  left: 37px;
  top: 360px;
  color: var(--primary);
}

.project {
  margin: 0 0 0 25px;
}

footer {
  border-top: 1px solid var(--primary);
  padding: 42px 32px;
}
footer .img {
  width: 150px;
  height: 150px;
  margin: 0 auto;
}

@media screen and (min-width: 319px) {
  nav ul {
    display: flex;
    flex-direction: column;
    gap: 28px;
  }
}

@media screen and (min-width: 768px) {
  header {
    display: flex;
    align-items: center;
  }
  .btnNav {
    display: none;
  }
  nav {
    visibility: visible;
    order: 1;
    height: 0;
    background: transparent;
    transform: none;
    position: relative;
  }
  .containerNav {
    order: 2;
    width: 151px;
  }
  nav ul {
    flex-direction: row;
  }
  figure {
    display: flex;
    height: 340px;
  }
  figure .avatar {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    height: auto;
    border-radius: 0;
    margin: 0;
    width: 242px;
  }
  figure .content {
    text-align: left;
    margin-left: 32px;
    padding: 0;
  }
  figure .contactMe {
    margin: 32px 0 0;
  }

  .cardSlide h2 {
    text-align: left;
    padding: 25px 0 25px 25px;
  }

  footer {
    flex-direction: row;
    justify-content: center;
    width: 700px;
    margin: 0 auto;
    border: 1px solid var(--primary);
    border-radius: 16px;
    margin-bottom: 120px;
  }

  footer .img {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  footer .containerLinks {
    text-align: center;
  }
}
@media screen and (min-width: 1024px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
  .mesprojets {
    flex-direction: row;
  }

  footer {
    width: 1000px;
  }
}
@media screen and (min-width: 1200px) {
  footer {
    width: 1100px;
  }
}

@media screen and (min-width: 1440px) {
  footer {
    width: 1400px;
  }
}
